<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_Data_Drviven_via_XML</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4949f">  <td>24/05/10 08:40:39</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestScript_DataDriven_testngxml.teardown()[pri:0, instance:TestScripts.Post_TestScript_DataDriven_testngxml@6f01b95f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/10 08:40:36</td>   <td>-2398</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestScript_DataDriven_testngxml.setup()[pri:0, instance:TestScripts.Post_TestScript_DataDriven_testngxml@6f01b95f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/10 08:40:36</td>   <td>-2340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript_DataDriven_testngxml.validate_Post(java.lang.String,java.lang.String)[pri:0, instance:TestScripts.Post_TestScript_DataDriven_testngxml@6f01b95f]">validate_Post</td> 
  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/10 08:40:39</td>   <td>64</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript_DataDriven_testngxml.validate_Post(java.lang.String,java.lang.String)[pri:0, instance:TestScripts.Post_TestScript_DataDriven_testngxml@aba625]">validate_Post</td> 
  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/10 08:40:39</td>   <td>63</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestScript_DataDriven_testngxml.setup()[pri:0, instance:TestScripts.Post_TestScript_DataDriven_testngxml@aba625]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/10 08:40:39</td>   <td>485</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestScript_DataDriven_testngxml.teardown()[pri:0, instance:TestScripts.Post_TestScript_DataDriven_testngxml@aba625]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
</table>
