<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_retry_parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63b9fe">  <td>24/05/07 08:12:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestScript.execute_Delete()[pri:0, instance:TestScripts.Delete_TestScript@2ab4bc72]">execute_Delete</td> 
  <td>TestNG-test=RetryMethod-2@1865516976</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/07 08:12:25</td>   <td>-23</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestScript.setup()[pri:0, instance:TestScripts.Post_TestScript@1a245833]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@566113173</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/07 08:12:25</td>   <td>-22</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestScript.setup()[pri:0, instance:TestScripts.Put_TestScript@740fb309]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@566113173</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/07 08:12:25</td>   <td>-36</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_TestScript.setup()[pri:0, instance:TestScripts.Delete_TestScript@2ab4bc72]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@566113173</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 08:12:25</td>   <td>-25</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestScript.setup()[pri:0, instance:TestScripts.Get_TestScript@eadd4fb]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@566113173</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 08:12:25</td>   <td>-24</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.setup()[pri:0, instance:TestScripts.Patch_TestScript@4e5ed836]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@566113173</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/07 08:12:30</td>   <td>5044</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestScript.teardown()[pri:0, instance:TestScripts.Put_TestScript@740fb309]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@566113173</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/07 08:12:30</td>   <td>5043</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestScript.teardown()[pri:0, instance:TestScripts.Post_TestScript@1a245833]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@566113173</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/07 08:12:30</td>   <td>5037</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_TestScript.teardown()[pri:0, instance:TestScripts.Delete_TestScript@2ab4bc72]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@566113173</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 08:12:30</td>   <td>5040</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestScript.teardown()[pri:0, instance:TestScripts.Get_TestScript@eadd4fb]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@566113173</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 08:12:30</td>   <td>5042</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.tesrdown()[pri:0, instance:TestScripts.Patch_TestScript@4e5ed836]">&lt;&lt;tesrdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@566113173</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 08:12:29</td>   <td>3511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate_Get()[pri:0, instance:TestScripts.Get_TestScript@eadd4fb]">validate_Get</td> 
  <td>TestNG-test=RetryMethod-4@2079565272</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 08:12:29</td>   <td>3511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate_Get()[pri:0, instance:TestScripts.Get_TestScript@eadd4fb]">validate_Get</td> 
  <td>TestNG-test=RetryMethod-4@2079565272</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 08:12:29</td>   <td>3511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate_Get()[pri:0, instance:TestScripts.Get_TestScript@eadd4fb]">validate_Get</td> 
  <td>TestNG-test=RetryMethod-4@2079565272</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 08:12:29</td>   <td>3511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate_Get()[pri:0, instance:TestScripts.Get_TestScript@eadd4fb]">validate_Get</td> 
  <td>TestNG-test=RetryMethod-4@2079565272</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/07 08:12:29</td>   <td>3511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate_Get()[pri:0, instance:TestScripts.Get_TestScript@eadd4fb]">validate_Get</td> 
  <td>TestNG-test=RetryMethod-4@2079565272</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 08:12:30</td>   <td>4377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@4e5ed836]">validate_Patch</td> 
  <td>TestNG-test=RetryMethod-3@1219916644</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 08:12:30</td>   <td>4377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@4e5ed836]">validate_Patch</td> 
  <td>TestNG-test=RetryMethod-3@1219916644</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 08:12:30</td>   <td>4377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@4e5ed836]">validate_Patch</td> 
  <td>TestNG-test=RetryMethod-3@1219916644</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 08:12:30</td>   <td>4377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@4e5ed836]">validate_Patch</td> 
  <td>TestNG-test=RetryMethod-3@1219916644</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/07 08:12:30</td>   <td>4377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@4e5ed836]">validate_Patch</td> 
  <td>TestNG-test=RetryMethod-3@1219916644</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/07 08:12:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript.validate_Post()[pri:0, instance:TestScripts.Post_TestScript@1a245833]">validate_Post</td> 
  <td>TestNG-test=RetryMethod-1@542980314</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/07 08:12:27</td>   <td>1876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript.validate_Put()[pri:0, instance:TestScripts.Put_TestScript@740fb309]">validate_Put</td> 
  <td>TestNG-test=RetryMethod-2@1865516976</td>   <td></td> </tr>
</table>
