<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/20 17:31:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@71075444]">validate_Patch</td> 
  <td>main@757708014</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/20 17:31:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@71075444]">validate_Patch</td> 
  <td>main@757708014</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/20 17:31:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@71075444]">validate_Patch</td> 
  <td>main@757708014</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/20 17:31:04</td>   <td>-3447</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.setup()[pri:0, instance:TestScripts.Patch_TestScript@71075444]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757708014</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/20 17:31:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@71075444]">validate_Patch</td> 
  <td>main@757708014</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/20 17:31:07</td>   <td>359</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.tesrdown()[pri:0, instance:TestScripts.Patch_TestScript@71075444]">&lt;&lt;tesrdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@757708014</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/20 17:31:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@71075444]">validate_Patch</td> 
  <td>main@757708014</td>   <td></td> </tr>
</table>
