<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_Priority</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/15 07:20:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestScript_Priority.setup()[pri:0, instance:TestScripts.Post_TestScript_Priority@239a307b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/15 07:20:10</td>   <td>5257</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestScript_Priority.teardown()[pri:0, instance:TestScripts.Post_TestScript_Priority@239a307b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/15 07:20:09</td>   <td>4286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript_Priority.validate_Post1(java.lang.String,java.lang.String)[pri:2, instance:TestScripts.Post_TestScript_Priority@239a307b]">validate_Post1</td> 
  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/15 07:20:09</td>   <td>4286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript_Priority.validate_Post1(java.lang.String,java.lang.String)[pri:2, instance:TestScripts.Post_TestScript_Priority@239a307b]">validate_Post1</td> 
  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/15 07:20:08</td>   <td>2680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript_Priority.validate_Post2(java.lang.String,java.lang.String)[pri:1, instance:TestScripts.Post_TestScript_Priority@239a307b]">validate_Post2</td> 
  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/15 07:20:08</td>   <td>2680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript_Priority.validate_Post2(java.lang.String,java.lang.String)[pri:1, instance:TestScripts.Post_TestScript_Priority@239a307b]">validate_Post2</td> 
  <td>main@1889057031</td>   <td></td> </tr>
</table>
