<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aa63ab">  <td>24/05/13 21:45:03</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestScript_rerun_failed_TC.setup()[pri:0, instance:TestScripts.Put_TestScript_rerun_failed_TC@673fdbce]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/13 21:45:05</td>   <td>2191</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestScript_rerun_failed_TC.teardown()[pri:0, instance:TestScripts.Put_TestScript_rerun_failed_TC@673fdbce]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/13 21:45:03</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript_rerun_failed_TC.validate_Put1()[pri:0, instance:TestScripts.Put_TestScript_rerun_failed_TC@673fdbce]">validate_Put1</td> 
  <td>main@131872530</td>   <td></td> </tr>
</table>
