<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_parallel_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="65d769">  <td>24/05/06 15:24:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestScript.setup()[pri:0, instance:TestScripts.Put_TestScript@17bffc17]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/06 15:24:30</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@5745ca0e]">validate_Patch</td> 
  <td>TestNG-test=parallel_runner-3@596706728</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/06 15:24:29</td>   <td>-5</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestScript.setup()[pri:0, instance:TestScripts.Get_TestScript@3cce5371]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/06 15:24:30</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestScript.execute_Delete()[pri:0, instance:TestScripts.Delete_TestScript@5f8e8a9d]">execute_Delete</td> 
  <td>TestNG-test=parallel_runner-2@1595938139</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/06 15:24:33</td>   <td>3343</td> <td>&nbsp;</td><td title="&lt;&lt;Post_param_TestScript.teardown()[pri:0, instance:TestScripts.Post_param_TestScript@3ad83a66]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/06 15:24:29</td>   <td>-4</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.setup()[pri:0, instance:TestScripts.Patch_TestScript@5745ca0e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/06 15:24:30</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_param_TestScript.validate_Post_param()[pri:0, instance:TestScripts.Post_param_TestScript@3ad83a66]">validate_Post_param</td> 
  <td>TestNG-test=parallel_runner-4@1620823990</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>24/05/06 15:24:30</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript.validate_Put()[pri:0, instance:TestScripts.Put_TestScript@17bffc17]">validate_Put</td> 
  <td>TestNG-test=parallel_runner-6@589311950</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/06 15:24:33</td>   <td>3329</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_TestScript.teardown()[pri:0, instance:TestScripts.Delete_TestScript@5f8e8a9d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/06 15:24:33</td>   <td>3339</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.tesrdown()[pri:0, instance:TestScripts.Patch_TestScript@5745ca0e]">&lt;&lt;tesrdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/06 15:24:30</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate_Get()[pri:0, instance:TestScripts.Get_TestScript@3cce5371]">validate_Get</td> 
  <td>TestNG-test=parallel_runner-5@1443055846</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/06 15:24:29</td>   <td>-2</td> <td>&nbsp;</td><td title="&gt;&gt;Post_param_TestScript.setup()[pri:0, instance:TestScripts.Post_param_TestScript@3ad83a66]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/06 15:24:33</td>   <td>3336</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestScript.teardown()[pri:0, instance:TestScripts.Get_TestScript@3cce5371]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>24/05/06 15:24:33</td>   <td>3394</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestScript.teardown()[pri:0, instance:TestScripts.Put_TestScript@17bffc17]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/06 15:24:29</td>   <td>-3</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestScript.setup()[pri:0, instance:TestScripts.Post_TestScript@4e5ed836]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/06 15:24:33</td>   <td>3341</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestScript.teardown()[pri:0, instance:TestScripts.Post_TestScript@4e5ed836]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/06 15:24:30</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript.validate_Post()[pri:0, instance:TestScripts.Post_TestScript@4e5ed836]">validate_Post</td> 
  <td>TestNG-test=parallel_runner-1@1789452565</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/06 15:24:29</td>   <td>-20</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_TestScript.setup()[pri:0, instance:TestScripts.Delete_TestScript@5f8e8a9d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1003292107</td>   <td></td> </tr>
</table>
