<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_parallel_Method_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e93f1">  <td>24/05/06 17:12:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestScript.execute_Delete()[pri:0, instance:TestScripts.Delete_TestScript@4b520ea8]">execute_Delete</td> 
  <td>TestNG-test=Delete_Test-1@1513608173</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/06 17:12:02</td>   <td>-2516</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestScript.setup()[pri:0, instance:TestScripts.Post_TestScript@4007f65e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="7e93f1">  <td>24/05/06 17:12:05</td>   <td>-1</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_TestScript.setup()[pri:0, instance:TestScripts.Delete_TestScript@4b520ea8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="aea295">  <td>24/05/06 17:12:05</td>   <td>759</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestScript.setup()[pri:0, instance:TestScripts.Patch_TestScript@23f5b5dc]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="b6b9cd">  <td>24/05/06 17:12:06</td>   <td>1385</td> <td>&nbsp;</td><td title="&gt;&gt;Post_param_TestScript.setup()[pri:0, instance:TestScripts.Post_param_TestScript@20b2475a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="8e7d9d">  <td>24/05/06 17:12:07</td>   <td>2591</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestScript.setup()[pri:0, instance:TestScripts.Get_TestScript@4f0f2942]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="b0aae9">  <td>24/05/06 17:12:08</td>   <td>3310</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestScript.setup()[pri:0, instance:TestScripts.Put_TestScript@28cda624]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/06 17:12:05</td>   <td>-64</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestScript.teardown()[pri:0, instance:TestScripts.Post_TestScript@4007f65e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="7e93f1">  <td>24/05/06 17:12:05</td>   <td>734</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_TestScript.teardown()[pri:0, instance:TestScripts.Delete_TestScript@4b520ea8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="b6b9cd">  <td>24/05/06 17:12:07</td>   <td>2555</td> <td>&nbsp;</td><td title="&lt;&lt;Post_param_TestScript.teardown()[pri:0, instance:TestScripts.Post_param_TestScript@20b2475a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="8e7d9d">  <td>24/05/06 17:12:08</td>   <td>3278</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestScript.teardown()[pri:0, instance:TestScripts.Get_TestScript@4f0f2942]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="b0aae9">  <td>24/05/06 17:12:09</td>   <td>3999</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestScript.teardown()[pri:0, instance:TestScripts.Put_TestScript@28cda624]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="aea295">  <td>24/05/06 17:12:06</td>   <td>1377</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestScript.tesrdown()[pri:0, instance:TestScripts.Patch_TestScript@23f5b5dc]">&lt;&lt;tesrdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@271095942</td>   <td></td> </tr>
<tr bgcolor="8e7d9d">  <td>24/05/06 17:12:07</td>   <td>2592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.validate_Get()[pri:0, instance:TestScripts.Get_TestScript@4f0f2942]">validate_Get</td> 
  <td>TestNG-test=Get_Test-1@170949260</td>   <td></td> </tr>
<tr bgcolor="aea295">  <td>24/05/06 17:12:05</td>   <td>764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.validate_Patch()[pri:0, instance:TestScripts.Patch_TestScript@23f5b5dc]">validate_Patch</td> 
  <td>TestNG-test=Patch_Test-1@698741991</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/06 17:12:02</td>   <td>-2487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript.validate_Post()[pri:0, instance:TestScripts.Post_TestScript@4007f65e]">validate_Post</td> 
  <td>TestNG-test=Post_Test-1@1595938139</td>   <td></td> </tr>
<tr bgcolor="b6b9cd">  <td>24/05/06 17:12:06</td>   <td>1387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_param_TestScript.validate_Post_param()[pri:0, instance:TestScripts.Post_param_TestScript@20b2475a]">validate_Post_param</td> 
  <td>TestNG-test=Post_param_Test-1@669284403</td>   <td></td> </tr>
<tr bgcolor="b0aae9">  <td>24/05/06 17:12:08</td>   <td>3312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript.validate_Put()[pri:0, instance:TestScripts.Put_TestScript@28cda624]">validate_Put</td> 
  <td>TestNG-test=Put_Test-1@69329761</td>   <td></td> </tr>
</table>
